

#darkblue{
    width: 100%;
    height: 100px;
    background-color: rgb(1, 1, 79);
}

#k{
    text-decoration: underline chartreuse 1px;
    text-underline-offset: 9px;

    
}

#l{
    text-decoration: underline chartreuse 1px;
    text-underline-offset: 9px;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img:hover{
    color: greenyellow;
    background-color: greenyellow;

}

.img:hover {
  filter: hue-rotate(90deg) saturate(200%);
}